*{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container{
    position: fixed;
    top:20%;
    left:5%;
    width: 20%;
}
h1{
    color: aliceblue;
    border: 3px solid aliceblue ;
    height: 35px;
    padding: 10px 10px;
    text-align: center;
    /* font-size: ; */
    font-family:fantasy;
    letter-spacing: 3px;
}
h2{
    color:#b8b3b3
}